<div class="article" (click)="gotoArticles()">
  <!-- [routerLink]="['/home/article/']"
  [queryParams]="{id: article.id}" -->
  <!-- (click)="gotoArticles()" -->
  <!-- [routerLink]="['/home/article/' + article.id]" -->
  <div>
    <img src="/assets/img/hamburger3.jpg" alt="No se visualiza">
  </div>
  <div class="article-title">
    <h2 style="font-weight: bold;" appHighlight="red">{{article.title | uppercase}}</h2>
  </div>
  <div>
    <p>{{article.body | short:'100'}}</p>
  </div>
  <div>
    <p style="font-weight: bold;">{{article.time | date}}</p>
  </div>
  <div>
    <p style="font-weight: bold;">{{article.time | date: 'yyyy-mm-dd'}}</p>
  </div>
</div>

<!-- @if (article) {

  <div class="article">
    <div>
      <img [src]="article.image.url" [alt]="article.image.alt">
    </div>
    <div class="article-title">
      <h2>{{article.title}}</h2>
    </div>
    <div>
      <p>{{article.description}}</p>
    </div>
  </div>
} -->
