<ion-content>
  <h1>
    detail-notification works!
  </h1>
  <img src="/assets/icon/favicon.png" alt="No se visualiza la imagen">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel libero vel mauris semper condimentum. Nullam non facilisis mauris, vel consectetur neque. Donec non orci vel velit ornare ullamcorper. Donec vel lacus vel felis euismod semper. Donec vel condimentum justo. Donec sit amet libero vel arcu fermentum laoreet. Sed et massa vel ex aliquet viverra. Duis vel lectus vel arcu fer
  </p>
</ion-content>

