
<div class="form-contact">
  <p class="error">{{error}}</p>
  <div class="input-contact">
    <label>Email</label>
    <input type="mail" [(ngModel)]="form.email">
  </div>
  <div class="input-contact">
    <label>Nombre</label>
    <input type="text" [(ngModel)]="form.name">
  </div>
  <div class="input-contact">
    <label>Celular</label>
    <input type="text" [(ngModel)]="form.phone">
  </div>
  <div style="text-align: center;">
    <button (click)="enviar()">Enviar Contacto</button>
  </div>
</div>
<!-- [(ngModel)]="form.email" -->
